﻿@{
    ViewData["Title"] = "Libreria";
}
@model LibreriaModel;

<h1>@ViewData["Title"]</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="display-4">Insert Autore</h3>
            Name: <input type="text" id="nameAutore" />
            <button class="btn btn-primary" onclick="insertAutore()">Insert Autore</button>
            <button class="btn btn-primary" onclick="getAutore()">Get Autore</button>
            <div id="resultAutore"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3 class="display-4">Insert Libro</h3>
            Name: <input type="text" id="nameLibro" />
            Numero Pagine: <input type="text" id="numeroLibro" />
            <button class="btn btn-primary" onclick="insertLibro()">Insert Libro</button>
            <button class="btn btn-primary" onclick="getLibro()">Get Libro</button>
            <div id="resultLibro"></div>
        </div>
    </div>

</div>
