@{
    ViewData["Title"] = "Input Utente";
}

<div class="text-center">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="display-4">Test Javascript Dropdown value</h3>
                <input type="text" placeholder="scrivi" id="inputText"/>
                <button class="btn btn-primary" onclick="ajaxCallInputUtente()">Ajax Call Dropdown value</button>
                <div id="resultInput"></div>
            </div>
        </div>
    </div>
    

</div>